<h1><%= @event.name %></h1>
<h2>Invites:</h2>

<ol>
  <% @event.users.all.each do |attendee| %>
    <li><%= attendee.name %></li>
  <% end %>
</ol>  


<a href="/events/<%= @event.id %>/invites/new">New Invite</a>

<br>
<br>
<%= link_to 'Edit', edit_event_path(@event) %> | 
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= render 'footer' %>